#Header {
	color:rgba(255,255,255,1);
}
#ScrollContent {
	padding:2.69em 0em 0em 0em;
}
.t-gra
{
    color:gray;
}
.ubszx{
    border-top:1px solid#cccccc;border-left:1px solid#cccccc;border-right:1px solid#cccccc;
}
.uball{
    border:1px solid#cccccc;
}
